@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --lose-color: #dc3545;
  --win-color: #28a745;
  --modal-duration: 1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;

  color: #333;
}

.form-group {
  display: flex;
  justify-content: center;
}

.form-item {
  margin: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn,
.restart-btn {
  border: 2px solid black;
  background-color: #ffc107;
  padding: 6px;
  font-weight: 600;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
  height: 80vh;
}

.score {
  font-size: 1.2rem;
  font-family: monospace;
  color: black;
}

.score p {
  font-size: 20px;
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.choice {
  cursor: pointer;
}

.choice:hover {
  color: var(--primary-color);
}

.game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.scoreBoardL {
  border: 2px solid #000;
  border-radius: 5px;
}

.modal-content img {
  margin: 0 auto;
}

.game-img {
  width: 150px;

  margin-bottom: 20px;
}

.text-win {
  color: var(--win-color);
}

.text-lose {
  color: var(--lose-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  text-align: center;
  margin: 10% auto;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-content h1 {
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .choice {
    font-size: 110px;
  }
}

@media (max-width: 500px) {
  .choice {
    font-size: 80px;
  }
}

header .navbar-brand {
  height: 150px;
}

:root {
  --primary-color: #1a4b84;
  --chathams_blue: #1a4b84;
  --tamarillo: #991e14;
  --yellow_sea: #fead06;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
}

.btn,
.btn:hover {
  color: #fff;

  cursor: pointer;
  border-radius: 5px;

  padding: 5px 12px;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}

/* NAVBAR STYLING STARTS */

.nav-links a {
  color: #fff;
}

/* Header Styles
  -------------------------------------------------- */

header .bg-gradient {
  background: rgb(216, 216, 216);
}

header .navbar {
  padding: 20px 0 0;
}

header .navbar-brand {
  padding: 0;
  z-index: 1;
  width: 213px;
  height: 150px;
  background-color: var(--primary-color);
}

header .navbar-brand img {
  width: 56px;
}

img {
  max-width: 100%;
}

header h3 {
  font: normal normal 600 18px/27px Oswald;
  color: #fff;
}

header h4 {
  font: normal normal 600 18px/28px Oswald;
  letter-spacing: 0.36px;
  color: #191919;
  text-transform: uppercase;
}

header p {
  font: 600 12px/15px Poppins;
  letter-spacing: 0.24px;
  color: #191919;
}

.ReactTitle {
  background-color: #838383;
  height: 50px;
  font: normal normal 600 19px/27px Oswald;
  letter-spacing: 0.38px;
  color: #ffffff;
  text-transform: uppercase;
}

.ReactTitle img {
  width: 25px;
  margin-right: 10px;
}

.link {
  background-color: rgba(0, 0, 0, 0.09);
  font: normal normal medium 12px/15px Poppins;
  letter-spacing: 0.24px;
  height: 40px;
  padding: 10px 10px;
}

.link a {
  color: #055ba6;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.footer-dark {
  background-color: var(--primary-color);
  color: #fff;
}

.toggle-currency {
  font-size: 20px;
}

footer {
  font: normal normal 600 12px/19px Oswald;
  letter-spacing: 0.24px;
  color: #ffffff;
}

.theme-switch {
  margin: 0 5px;
  padding: 10px;
  font-size: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.theme-switch-chathams_blue {
  background-color: var(--chathams_blue);
}

.theme-switch-chathams_blue:hover {
  box-shadow: 2px 2px 2px var(--chathams_blue);
}

.theme-switch-tamarillo {
  background-color: var(--tamarillo);
}

.theme-switch-tamarillo:hover {
  box-shadow: 2px 2px 2px var(--tamarillo);
}

.theme-switch-yellow_sea {
  background-color: var(--yellow_sea);
}

.theme-switch-yellow_sea:hover {
  box-shadow: 2px 2px 2px var(--yellow_sea);
}
